
html, body {
  padding: 0;
  margin: 10;
}
  
canvas {
  vertical-align: top;
}

#title {
  font-size: 5vw;
  color: white;
  text-align: center;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

#sign {
  position: absolute;
  top: 5vw;
  left: 30vw;
  width: 40vw;
  height: 9vw;
  background-color: black;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  z-index: -1;
}

.text-wrapper {
  color: black;
  font-family: Lato, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-weight: bold;
  letter-spacing: .1vw; 
  width: 100%;
  /* position: relative;
  font-size: 8vw;
  overflow: hidden; */
}
#intro1 {
  width: 00%;
  position: absolute;
  top: 0;
  animation: lefttextscroll infinite 8s linear;
}

#intro2 {
  width: 00%;
  position: absolute;
  top: 0;
  animation: righttextscroll infinite 8s linear;
}



#intro1:hover, #intro2:hover {
  animation-play-state: paused;
  color: black;
}


#intro1:hover, #intro2:hover {
  animation-play-state: paused;
  color: black;
}


@keyframes lefttextscroll {
  from{left: 0px;}
  to{left: -50px;}
}
@keyframes righttextscroll {
  from{left: -50px;}
  to{left: -100px;}
}



.border {
  border: 8px solid black;
  overflow-y: hidden
}

.font {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#iframe1{
  position: absolute;
  left: 10vw;
  width: 10vw;
  height: 45vw;
}


#iframe2{
  position: absolute;
  left: 25vw;
  top: 20vw;
  width: 35vw;
  height: 45vw;
  border-radius: 50%
}

#iframe3{
  position: absolute;
  left: 65vw;
  top: 20vw; 
  width: 30vw;
  height: 40vw;
  border-radius: 5%
}

#hang {
  position: relative;
  top: -2.7vw;
  left: 75.5vw;
  transform: rotate(50deg);
  width: 1vw;
  height: 8vw;
  background-color: black;
}

#hang2 {
  position: relative;
  top: -10.7vw;
  left: 81vw;
  transform: rotate(-50deg);
  width: 1vw;
  height: 8vw;
  background-color: black;
}

#hang3 {
  position: relative;
  top: 34vw;
  left: 28vw;
  transform: rotate(50deg);
  width: 1vw;
  height: 10vw;
  background-color: black;
}

#hang4 {
  position: relative;
  top: 24vw;
  left: 35vw;
  transform: rotate(-50deg);
  width: 1vw;
  height: 10vw;
  background-color: black;
}

#iframe4{
  position: absolute;
  background-color: black;
  top: 74vw;
  left: 10vw;
  bottom: 2vw; 
  width: 50vw;
  height: 40vw;
  border-radius: 1%;
  align-items: center;
}


#iframe5 {
  position: absolute;
  top: 70vw;
  left: 66vw;
  bottom: 2vw;
  width: 20vw;
  height: 30vw;
  border-radius: 40%;
  align-items: center;
}



