body {background-color: #a3311a;
margin: 20vw;}
#title {
    color: white;
    font-family: "Futura", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

#story{
    color: white;
    font-family: "", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-weight: medium;
    font-size: 15px;
    text-align: center;
}

.animation{
    transition: 1s;
}


/*duck*/
#duck {
    width: 15vw;
    height: 15vw;
    margin: 2.5vw;
    float: left;
    background-image: url("duck.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#duck:hover {
    background-image: url("duck-hover.png");
}
#duck:hover ~ #duck-hover {
    opacity:1;
    display: block;
}
input {
    display: none;
}
#duckcheckbox:checked ~ #duck-big {
    display: block;
}
#duck-big {
    margin-left: 5vw;;
    margin-top: 20vw;
    display: none;
    background-image: url("duck-sprite.png");
    background-size: 200% 100%;
    width: 48vw;
    height: 48vw;
    animation: duck-go 500ms steps(4) infinite;
    animation-play-state: paused; 
}

#duck-big:hover {
    cursor: wait;
    animation: duck-go 500ms steps(4) infinite;
    animation-play-state: play; 
}

/*bean*/
#bean {
    width: 15vw;
    height: 15vw;
    margin: 2.5vw;
    float: left;
    background-image: url("bean.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#bean:hover {
    background-image: url("bean-hover.png");
}
#bean:hover ~ #bean-hover {
    opacity:1;
    display: block;
}
#bean:hover ~ #bean-hover {
    opacity:1;
    display: block;
}
input {
    display: none;
}
#beancheckbox:checked ~ #bean-big {
    display: block;
}
#bean-big {
    margin-left: 5vw;;
    margin-top: 20vw;
    display: none;
    background-image: url("bean-sprite.png");
    background-size: 200% 100%;
    width: 48vw;
    height: 48vw;
    animation: bean-go 600ms steps(4) infinite;
    animation-play-state: paused; 
}
#bean-big:hover {
    cursor: wait;
    animation: bean-go 600ms steps(4) infinite;
    animation-play-state: play; 
}

/*little*/
#little {
    width: 15vw;
    height: 15vw;
    margin: 2.2vw;
    float: left;
    background-image: url("little.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#little:hover {
    background-image: url("little-hover.png");
}

#little:hover ~ #little-hover {
    opacity:1;
    display: block;
}

input {
    display: none;
}

#littlecheckbox:checked ~ #little-big {
    display: block;
}

#little-big {
    margin-left: 8vw;;
    margin-top: 5vw;
    display: none;
    background-image: url("little-sprite.png");
    background-size: 200% 100%;
    width: 55vw;
    height: 55vw;
    animation: little-go 500ms steps(4) infinite;
    animation-play-state: paused; 
}

#little-big:hover {
    cursor: wait;
    animation: little-go 500ms steps(4) infinite;
    animation-play-state: play; 
}

.floatclear {
    clear: both;
}






  
@keyframes duck-go {
    from {
          background-position: 0% 0%;
    }
    to {
          background-position: -400% 0%;
    }
}

@keyframes bean-go {
    from {
          background-position: 0% 0%;
    }
    to {
          background-position: -400% 0%;
    }
}

@keyframes little-go {
    from {
          background-position: 0% 0%;
    }
    to {
          background-position: -400% 0%;
    }
}
  


  
