
body {
    background-color: #FFF8E6;
    padding: 0;
    height: 100%;
    margin: 0;
}

.font {
    font-family: "Unbounded", sans-serif;
}
.small {
    font-size: calc(10px + 0.5vw);
}

.medium {
    font-size: calc(10px + 1vw);
}

.big {
    font-size: calc(10px + 10vw);
}

/* annoy section*/
#annoy-section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#annoy {
    background-color: red;

    display: flex;
}

#annoy-text {
    color: black;
    font-family: "Unbounded", "Futura", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
    align-self: center;
    width: 40vw;
    margin-left: 30vw;
}

#angrywoman {
    position: absolute;
    margin-top: 2vw;
    width: 18vw;

}

#angryicon {
    position: absolute;
    margin-left: 14vw;
    width: 4vw;

}

#shutup {
    position: absolute;
    display: flex;
    width: 10vw;
    height: 4vw;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 2vw;
    margin-left: 21vw;
    background-color: white;
}

.shutup-text {
    position: relative;
    color: black;
    font-family: "Unbounded", "Futura", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1.4vw;
    align-self: center;
    text-align: center;
    margin-left: 1.7vw;
}

#yellow-music {
    position: absolute;
}
#yellow-musicnote {
    position: relative;
    margin-top: 40vw;
    width: 10vw;
}

#big-music {
    position: absolute; 
}
#big-musicnote {
    position: relative;
    margin-top: 24vw;
    margin-left: 85vw;
    width: 16vw;
}

#black-music {
    position: absolute;
}
#black-musicnote {
    position: relative;
    margin-left: 80vw;
    width: 13vw;
}

#man {
    position: absolute;
}

#man-waving {
    position: relative;
    width: 18vw;
    margin-top: 50vw;
    margin-left: 5vw;

}

#happy-woman {
    position: absolute;
}

#woman-smiling {
    position: relative;
    width: 28vw;
    margin-top: 48vw;
    margin-left: 5vw;
}

#Imhome {
    position: absolute;
    display: flex;
    width: 16vw;
    height: 4vw;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 80vw;
    margin-left: 52vw;
    background-color: white;
}

.Imhome-text {
    position: relative;
    color: black;
    font-family: "Unbounded", "Futura", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 2vw;
    align-self: center;
    text-align: center;
    margin-left: 1.7vw;
}


/* footer section*/
#footer {
    font-family: "Unbounded", "Futura", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    position: relative; 
    background-color: #ffce55;
    width: 100%;
    height: 50vh;
    /*bottom: 0;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3vw;
}
